<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      var getVacancies = function(str) {
        $.getJSON("/jobs/"+str, function( data ) { 
          var items = [];
          $.each( data, function(ind, vac ) {
            items.push("<li><a href='"+vac.url+"'>"+vac.title+"</a></br>"+vac.published+" "+vac.author+" "+vac.location+"</li>" );
          });
          $('.spinner').hide();         
          $("<ol/>", {
            "class": "my-new-list",
            html: items.join("")
          }).appendTo("body");
        });
      }

      $(document).ready(function(){
        $('.spinner').hide();
        $("input").keypress(function(e) {
          if (e.which == 13) {
            e.preventDefault();
            $('.spinner').show();
            $('ol').remove();
            getVacancies(this.value);
          }
        })
      });
    </script>
    <style>
      body {
        font-size: 15px;
        font-family: 'Trebuchet MS';
      }
      li {
        height: 50px;
      }
      input {
        height: 30px;
        font-size: 17px;
      }
      img {
        position: relative;
        top:3px;
      }
    </style>
  </head>
  <body>
    <input type="text" id="search-field" size="60"></input>
    <img src="/images/spinner.gif" class="spinner" width="18px;">
  </body>
</html>